/*
    Name: Milton Long
    Date created: 3/10/21
    Date Modified: 3/20/21
*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    /* margin-right: 0; */
    background-color: darkslategray;
    color: whitesmoke;
    width: 100%;
}

.navbar{
    overflow: hidden;
    background-color: #be3144;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 2px rgb(0 0 0 / 40%);
}

#nav-items{
    float: right;
    clear:right;
    /* margin-right: 20px; */
}

#nav-items > a{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 1rem;
    /* padding-left: 40px;
    padding-right: 50px; */
    text-decoration: none;
}

#nav-items a:hover{
    background-color: #45567d;
    color: white;
}

h1{
    font-size: 5rem;
}


h1, h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* height: 100%;
    margin: 0px; */
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin-right: 0;
}

/* #welcome-section h1{
    padding-top: 200px;
} */

#about{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: #be3144;
    margin: 10px;
}

#work-section{
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 3rem;
    /* padding-bottom: 10rem; */
    background-color: #45567d;  
}

#work-header{
    
    /* font-size: 40px; */
    font-size: 3rem;
    border-bottom: 2px solid;
    margin: 0 auto 3rem auto;
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 70px;
    /* border-bottom-width: auto ; */
}

#work-container{
    width: 100%;
    
}

a:link{
    text-decoration: none;
}

.work-item{
    /* padding: 10px; */
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    padding: 5px 120px;
}

.work-item .work-link p{
    font-size: 20px;
    text-decoration: none;
}

.work-p{
    color: whitesmoke;
    /* background-color: #45567d; */
    /* text-decoration: none; */
}

.work-img{
    /* width: 100%; */
    width: 200px;
    height: 150px;
}

#work1{
    float: left;
}

#work2{
    float: left;
}

#work3{
    float: left;
    clear: right;
    /* float: right; */
    /* clear: right; */
}

#work4{
    float: left;
    clear: left;
    /* margin-left: 0; */
}

#work5{
    float: left;
}

#work6{
    float: left;
    /* float: right; */
}
/* .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    width: 100%;
} 

.grid-container a img{
    
    width: 50%;
    
}

.grid-item{
    
    background-color: #303841;
    height: 100%;
} */

/* #snake-img{
    width: 70%;
    height: 60%;
} */

/* .work-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */


#contacts-section{
    width: 100%;
    height: 90vh;
    background-color: #303841;
}

#contacts-header{
    padding-top: 100px;
}

#contacts-section > div > p{
    font-size: 2rem;
    text-align: center;
    font-style: italic;

}

#contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact-link{
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    text-decoration: none;
    padding: 2rem;

    transition: 0.6s;

}

.contact-link:hover{
    transform: translateY(10px);
}

@media screen and (min-width:400px) and (max-width:600px){
    #work1, #work2, #work3, #work4, #work5, #work6{
        width: 100%;
    }
}

/* 
at(@) and smart mobile phone icon credit links
https://www.iconsdb.com/white-icons/

github icon image from github.com
*/